<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="maintarget" xsi:type="File" concurrentWrites="true" fileName="${basedir}/log_${shortdate}.txt" archiveAboveSize="1000000" maxArchiveFiles="2" layout="${level:upperCase=true}|${longdate}|${logger}:${newline}${message}${when:when=length('${exception}')>0:Inner=${newline}}${exception:format=tostring}${newline}" />
  </targets>

  <rules>
    <logger name="IgnoreAll" minlevel="Trace" final="true" />
    <logger name="IgnoreOnCondition.*" minlevel="Trace">
        <filters defaultAction="Log">
            <when condition="logger == 'IgnoreOnCondition.Something' and starts-with(message, 'SomeStart ')" action="IgnoreFinal" />
        </filters>
    </logger>
    <logger name="LogOnCondition" minlevel="Trace" writeTo="maintarget">
        <filters defaultAction="Ignore">
            <when condition="starts-with(message, 'SomeStart ') and contains(message, 'Some part of msg ')" action="Log" />
        </filters>
    </logger>

    <logger name="Microsoft.*" minlevel="Information" writeTo="maintarget" />
    <logger name="Microsoft.*" minlevel="Trace" final="true" />

    <logger name="STACK_TRACE" minlevel="Trace" writeTo="maintarget" final="true" />
    <logger name="*" minlevel="Error" writeTo="maintarget" />
  </rules>

</nlog>