<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets async="true">
  <target name="stack_trace" xsi:type="File" fileName="${basedir}/logs/stack_trace/stack_trace_${shortdate}.txt" layout="${longdate}|${level}|${logger}:${newline}${message}${newline}" />
  <target name="maintarget" xsi:type="File" fileName="${basedir}/logs/log_${shortdate}.txt" layout="${longdate}|${level}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
  <logger name="STACK_TRACE" minlevel="Trace" writeTo="stack_trace" final="true" />
    <logger name="*" minlevel="Error" writeTo="maintarget" />
  </rules>

</nlog>