<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WCFHostLibBehavior">			
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />			
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="WCFHostLibBasicHttpBinding" maxReceivedMessageSize="204800">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>

		<services>
			<!--Test Services-->
			<service name="WCFHostLib.Test_TestService" behaviorConfiguration="WCFHostLibBehavior">		
				<endpoint address="" binding="basicHttpBinding" contract="WCFHostLib.ITest_TestService"
					bindingConfiguration="WCFHostLibBasicHttpBinding">
				</endpoint>			
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />			
			</service>
		</services>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="AuthHttpModule" type="WCFHostLib.Modules.AuthHttpModule, WCFHostLib" />
		</modules>
	</system.webServer>

	<appSettings>
		<add key="RequiredClientCertificateSubject" value="Test Subject"/>
		<add key="RequiredClientCertificateRevocationMode" value="offline"/>
		<add key="MainServiceBaseAddress" value="http://localhost:5000/"/>
	</appSettings>
</configuration>