docker run --rm -it --name nginx --entrypoint sh docker.io/nginx:1.29.7-alpine3.23
apk add --no-cache logrotate

chgrp 0 /usr/sbin/logrotate && chmod g=u /usr/sbin/logrotate
touch /var/run/nginx.pid && chmod g=u /var/run/nginx.pid
chmod g=u /var/cache/nginx
sed -i -e 's/\/var\/log\//\/var\/log_files\//g' -e 's/create 640 nginx adm/nodateext/g' -e 's/daily/size 100M/g' -e 's/rotate 52/rotate 10/g' /etc/logrotate.d/nginx

cat /etc/logrotate.d/nginx
/var/log_files/nginx/*.log {
        size 100M
        missingok
        rotate 10
        compress
        delaycompress
        notifempty
        nodateext
        sharedscripts
        postrotate
                if [ -f /run/nginx.pid ]; then
                        kill -USR1 `cat /run/nginx.pid`
                fi
        endscript
}

mkdir -p /var/log_files/nginx && chgrp 0 /var/log_files/nginx && chmod g=u /var/log_files/nginx

for i in 1 2 3 4 5 6 7 8 9 10; do echo "0123456789 0123456789 0123456789 0123456789 0123456789" >> /var/log_files/nginx/access.log; done
ls -lah /var/log_files/nginx

logrotate -s /tmp/logrotate.status /etc/logrotate.d/nginx
