docker run --rm -it --name nginx --user root --entrypoint sh registry.access.redhat.com/ubi8/nginx-120:1-7
dnf download --arch x86_64 --downloaddir /rpm_packages logrotate-3.14.0-6.el8
rpm -i /rpm_packages/*.rpm && rm -rf /rpm_packages

chgrp 0 /var/lib/logrotate && chmod g=u /var/lib/logrotate
sed -i -e 's/create 0664 nginx root/nodateext/g' -e 's/daily/size 100M/g' /etc/logrotate.d/nginx

cat /etc/logrotate.d/nginx
/var/log/nginx/*log {
    nodateext
    size 100M
    rotate 10
    missingok
    notifempty
    compress
    sharedscripts
    postrotate
        /bin/kill -USR1 `cat /run/nginx.pid 2>/dev/null` 2>/dev/null || true
    endscript
}
